body {
  color: var(--darktext);
  background-color: var(--darkbg);
}

::-moz-selection {
  background: var(--darkprimary);
  color: var(--text);
  text-shadow: none;
}

::selection {
  background: var(--darkprimary);
  color: var(--text);
  text-shadow: none;
}

p {
  line-height: 1.5;
  color: var(--darktext);
}
a {
  border-bottom: 3px solid var(--darkprimary);
}

code {
  background-color: var(--darksecondary);
  color: var(--darktext);
  text-decoration: bold;
  padding: 0.1em 0.2em;
}
blockquote {
  background-color: var(--darksecondary);
  border-color: var(--darksecondary);
}
blockquote p {
  color: var(--text);
}
pre {
  background-color: #272822;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

hr:after {
	color: var(--darksecondary);
}

footer {
  border-top: 0.5rem dotted var(--darkternary);
}

h1::before { color: var(--darkprimary);}
h2::before { color: var(--darkprimary);}
h3::before { color: var(--darkprimary);}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--darkternary);
}

a:hover {
    background-color: var(--darksecondary);
    color: var(--text);
}

ul > li::before {
  color: var(--darkprimary);
}

img {
  border: 3px solid var(--darkprimary);
}

.site-title a {
  color: var(--darktext);
  text-decoration: none !important;
}

header .main:after {
  color: var(--darksecondary);
}

header .main {
  color: var(--darkternary);
}
header {
  color: var(--darkternary);
}

.header nav,
.footer {
  border-color: #333;
}

.highlight {
  background-color: #666;
}
.soc:hover {
  color: var(--darktext);
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background: #f7df1e;
  color: black;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
  content: 'yaml';
  background: #f71e6a;
  color: white;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
  content: 'shell';
  background: green;
  color:white
}
.highlight pre code[class*='language-json']::before{
  content: 'json';
  background: dodgerblue;
   color: #000000 
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
  content: 'py';
  background: blue;
  color: yellow ;
}
.highlight pre code[class*='language-css']::before{
  content: 'css';
  background: cyan;
  color: black ;
}
.highlight pre code[class*='language-go']::before{
  content: 'Go';
  background: cyan;
  color: royalblue ;
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
  content: 'Markdown';
  background: royalblue;
  color: whitesmoke ;
}
