{{ define "main" }}
    <center>

    <h1>{{ .Title }}</h1>
    A Tabletop Roleplaying Game by Alex Hartford
    <hr>

    <img src="../images/bones/dungeon.jpg">

    <hr>

    <h2>
    <a href="/bones/proposal">The Proposal</a>
    </h2>

    <hr>

    <h2>
    <a href="/bones/setting">The Setting</a>
    </h2>

    <hr>

    <h2>Rules</h2>
    <h2>
    <a href="/bones/rules/core">Core</a>
    |
    <a href="/bones/rules/violence">Violence</a>
    |
    <a href="/bones/rules/equipment">Equipment</a>
    |
    <a href="/bones/rules/creation">Creation</a>
    </h2>

    <hr>

    </center>
{{ end }}
