{{ define "main" }}
    <center>

    <h1>{{ .Title }}</h1>
    A series of Role-Playing games by Alex Hartford.

    <br>
    Begun November 2024.

    <hr>

    <h2>
    <a href="/bones-proposal.pdf">Proposal</a>
    </h2>

    <hr>

    <h2>
    <a href="/bones/rules">Rules</a>
    </h2>

    <hr>

    <h2>
    <a href="/bones/options">Character Options</a>
    </h2>

    <hr>

    <h2>
    <a href="https://docs.google.com/document/d/1-zblYOfxZebANPAD_E0hepvZMQ6hVs6sledgvM-PbOg/edit">Ideas</a>
    </h2>

    <hr>

    <h2>
    <a href="https://docs.google.com/document/d/10Frz_tD5X0gKUKEUw6pxaoa7feT-DcbRp80ieolibc4Y/edit">The Chronicle</a>
    </h2>

    <hr>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6FDtjlt8vCvu5YlT95aFzD?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

    </center>
{{ end }}
